* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    width: 100%;
    scroll-behavior: smooth;
    /* background-color: #fff; */
}

/* nav start */

nav {
    width: 100%;
    height: 70px;
    /* position: sticky; */
    top: 0px;
    box-shadow: 2px 2px 20px 10px lightgray;
    display: flex;
    background-color: white;
    z-index: 1;
}

nav .family-logo {
    color: #24325D;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    padding: 18px;
    margin-left: 90px;
}

nav >ul {
    display: flex;
    margin-left: 350px;
    padding: 22px;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    color: #24325D;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

nav ul li a:hover {
    color: #006FBE;
}

.dropdown-hover
{
    background-color: white;
    box-shadow: 1px 1px 10px 3px lightgray;
    height: 210px;
    width: 190px;
    position: absolute;
    top: 55px;
    right: 80px;
    /* z-index: -9999999; */
    /* opacity: ; */
    /* overflow: hidden; */
}

.dropdown-hover ul li
{
    color: #24325D;
    font-weight: 500;
    margin-top: 15px;
    margin-left: 10px;
}

 li.dropdown:hover .dropdown-hover
{ 
    z-index: 99999;
}

/* nav end */

/* ourstory head start */

.ourstory-head {
    background-color: #f5f7fb;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: -1;
}

.ourstory-head h1 {
    position: absolute;
    left: 110px;
    font-weight: 300;
    font-size: 28px;
}

.ourstory-head p {
    position: absolute;
    right: 90px;
}

/* ourstory head end */

/* ourstory content start */

.ourstory-main-content {
    margin: 0px 100px;
    margin-bottom: 100px;
}

.ourstory-main-content .ourstory-content {
    margin-top: 100px;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
}

.ourstory-main-content .ourstory-content .ourstory-content-text {
    width: 48%;
    height: 100%;
}

.ourstory-main-content .ourstory-content .ourstory-content-text h1 {
    color: #444444;
    font-weight: 500;
    font-size: 26px;
}

.ourstory-main-content .ourstory-content .ourstory-content-text svg {
    margin-top: 20px;
    height: 20px;
    width: 20px;
}

.ourstory-main-content .ourstory-content .ourstory-content-text ul li {
    color: #444444;
    font-size: 17px;
}

.ourstory-main-content .ourstory-content .ourstory-content-text p {
    color: #444444;
    font-style: italic;
    margin-top: 16px;
    font-size: 17px;
}

.ourstory-main-content .ourstory-content .ourstory-content-photo {
    width: 48%;
    height: 100%;
}

.ourstory-main-content .ourstory-content .ourstory-content-photo img {
    height: 100%;
    width: 100%;
}

/* ourstory content end */

/* ourstory profile start */

.ourstory-profile-info {
    margin: 0px 100px;
    display: flex;
    justify-content: space-between;
}

.ourstory-profile-info .profile-content {
    height: 600px;
    width: 32%;
}

.ourstory-profile-info .profile-content img {
    width: 100%;
    height: 100%;
}

.profile-content-img {
    width: 100%;
    height: 55%;
    position: relative;
}

.profile-content-img-hover {
    width: 100%;
    height: 0px;
    background-color: #006fbeba;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    padding-left: 90px;
    overflow: hidden;
    transition: all .3s;
}

.profile-content-img-hover svg {
    height: 25px;
    width: 25px;
    margin-right: 18px;
}

.profile-content-img:hover .profile-content-img-hover {
    height: 45px;
}

.ourstory-profile-info .profile-content h3 {
    color: #444444;
    margin-top: 10px;
}

.ourstory-profile-info .profile-content h5 {
    color: #006FBE;
    font-weight: 400;
    margin: 10px 0px;
}

.ourstory-profile-info .profile-content p {
    color: #44444495;
    font-style: italic;
    margin-top: 5px;
    font-size: 15px;
}


/* ourstory profile end */

/* footer start */

.footer {
    width: 100%;
    height: 300px;
    background-color: #1D284B;
    margin-top: 100px;
}

.footer h1 {
    color: white;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    padding-top: 30px;
}

.footer .footer-p {
    color: white;
    font-style: italic;
    text-align: center;
    padding-top: 20px;
}

.footer p {
    color: white;
    text-align: center;
    padding-bottom: 10px;
}

.footer-icon {
    height: 50px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.footer-icon .footer-icon-child {
    background-color: #006FBE;
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

.footer-icon .footer-icon-child:hover {
    background-color: #0b87e0;
}

.footer-icon .footer-icon-child svg {
    padding: 10px;
}

/* footer end */